@font-face {
    font-family: 'WorkSans';
    src: url("../../../public/fonts/WorkSans/WorkSans-VariableFont_wght.ttf") format('truetype'),
         url('../../../public/fonts/WorkSans/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  $font-family-base: 'WorkSans', sans-serif;
  $font-family-heading: 'WorkSans', serif;
  
  $font-size-base: 16px;
  $font-size-heading: 1.8rem;
  
  $font-weight-normal: 400;
  $font-weight-bold: 700;

  @mixin work-sans-font($size, $weight: normal, $style: normal) {
     font-family: $font-family-base;
     font-size: $size;
     font-weight: $weight;
     font-style: $style;
   }